.project-detail {
    padding-bottom: 64px;

    .project-info {
        display: flex;
        align-items: flex-end;
        margin-bottom: 64px;

        p {
            font-size: 24px;
            margin-left: 32px;
            margin-bottom: 0;
        }
    }

    img {
        max-width: 50%;
        max-height: 40vh;
        object-fit: contain;
    }

    p {
        font-size: 24px;
        margin-bottom: 0;
    }

    .tech-text {
        margin-bottom: 16px;
    }

    .icon {
        width: 32px;
        height: 32px;
        margin-top: 64px;
        color: var(--text-color);
        transition: .5s ease all;
    }

    @media (max-width: 1000px) {
        .project-info {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 64px;

            img {
                min-width: 100%;
                object-fit: contain;
                margin-bottom: 64px;
            }

            p {
                font-size: 24px;
                margin-left: 0;
                margin-bottom: 0;
            }
        }
    }
}